<div class="user-details">
  <h1>Aprašymas</h1>
  <p>Papildytos realybės aplikacijų taikymas edukacinėse sistemose pastaruoju metu auga siekiant sukurti unikalią mokymosi aplinką. Taip pat ir skatinimas naudoti suasmenintą interaktyvų mokymo stilių. Tačiau, mokslinių tyrimų, apžvelgiančių pastarosios technologijos panaudojimą, privalumus, efektyvumą ir apribojimus, stinga.<br/>
    <br>
    <strong>Tamatikos pavadinimas:</strong> Viskas, kas susiję su AR technologijomis<br/>
    <strong>Studentas:</strong> Gvidas Kraujalis (gvidas.kraujalis@ktu.edu)<br/>
    <strong>Vadovas:</strong> Doc. Tomas Blažauskas (tomas.blazauskas@ktu.lt)
  </p>
</div>
<div class="user">
  <div class="tech" style="cursor:pointer" onclick="window.location.href=urlStart + '/first-semester.html?token=CGMqyCmXpC'">
    <h3 class="w3-text-indigo"><b>Pirmas semestras</b></h3>
  </div>
  <div class="tech" style="cursor:pointer" onclick="window.location.href=urlStart + '/second-semester.html?token=CGMqyCmXpC'">
    <h3 class="w3-text-indigo"><b>Antras semestras</b></h3>
  </div>
  <div class="tech" style="cursor:pointer" onclick="window.location.href =urlStart + '/third-semester.html?token=CGMqyCmXpC'">
    <h3 class="w3-text-indigo"><b>Trečias semestras</b></h3>  
  </div>
</div>
