<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
        </style>
        <body class="w3-light-grey">
        
        <!-- Page Container -->
        <div class="w3-content w3-margin-top" style="max-width:1400px;">
        
          <!-- The Grid -->
          <div class="w3-row-padding">
          
            <!-- Left Column -->
            <!-- <div class="w3-third">
            
               -->
        
            <!-- Right Column -->
            <div class="w3-twothird" style="width:100%">
            
              <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-indigo w3-padding-16"><i class="fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Projekto akademinis grafikas:</h2>
                <div class="w3-container">
                  <h5 class="w3-text-indigo"><b>1. CV parengimas ir talpinimas</b></h5>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2020-09-14</h6><hr>

                  <!-- <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019-09-14</h6> -->
                  <!--<a href="/Tiriamojo-projekto-IS/Kraujalis_Papildytos realybės taikymų edukacijoje tyrimas.docx" download>Kraujalis_Papildytos realybės taikymų edukacijoje tyrimas.docx</a>-->
                  <!--<p>Parengti ir patalpinti profesionalo gyvenimo aprašymą, tenkinantį reikalavimus ir šabloną</p>-->
                  </div>
                <div class="w3-container">
                  <h5 class="w3-text-indigo"><b>2. Projekto tamatikos pasirinkimas</b></h5>
                  <a href="/Tiriamojo-projekto-IS/Kraujalis_Papildytos realybės taikymų edukacijoje tyrimas.docx" download>&nbsp;&nbsp;&nbsp;&nbsp; Kraujalis_Papildytos realybės taikymų edukacijoje tyrimas.docx</a>
                  <!-- <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6> -->
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2020-09-29</h6><hr>
                  <!--<p>Magistrinio projekto tematikos pasirinkimas ir detali temos formuluotė </p>-->

                </div>
                <div class="w3-container">
                  <h5 class="w3-text-indigo"><b>3. Tiriamojo projekto informacinė sistema</b></h5>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2020-10-13</h6><hr>
                  <!--<p>Parengti magistrinio projekto informacinę sistemą darbo eigos duomenims talpinti ir saugoti</p>-->
                </div>
                <div class="w3-container">
                  <h5 class="w3-text-indigo"><b>4. Projektavimo metodologijos ir technologijų analizė</b></h5>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2020-11-11</h6><hr>
                  <!--<p>Mokslinių darbų ir pasiekimų taikomojoje srityje bei technologijose analizė</p>-->
                </div>
                <div class="w3-container">
                  <h5 class="w3-text-indigo"><b>5. Projekto paraiška</b></h5>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2020-11-25</h6><hr>
                  <!--<p>Parengti magistrinio projekto paraišką</p>-->
                </div>
                <div class="w3-container">
                    <h5 class="w3-text-indigo"><b>6. Projektavimo planas</b></h5>
                    <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6>
                    <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2020-12-15</h6>
                    <!--<p>Sukurti magistrinio projekto planą</p> <br>-->
                    </div>
              </div>
        
              <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-indigo w3-padding-16"><i class="fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Tiriamojo projekto anotacija:</h2>
                <div class="w3-container">
                    <p>LT: Papildytos realybės aplikacijų taikymas edukacinėse sistemose pastaruoju metu auga siekiant sukurti unikalią mokymosi aplinką. Taip pat ir skatinimas naudoti suasmenintą interaktyvų mokymo stilių. Tačiau, mokslinių tyrimų, apžvelgiančių pastarosios technologijos panaudojimą, privalumus, efektyvumą ir apribojimus, stinga. 
                            
                            </p>
                            <p>Darbo tikslas - programinės įrangos architektūra, skirta pasikartojantiems papildytosios realybės aplikacijų komponentams. Pastaroji orientuota ties dinaminiu išplečiamumu bei našumu, tuo pačiu užtikrinant aukšto lygio konfigūravimą. Siūlomas deklaratyvus programavimo stilius, su atskirais komponentais, leidžia tiriamąjį ir iteracinį vystymą bei supaprastina automatizuotų įrankių naudojimą konfigūracijoms kurti.</p>

                  <p>EN: The application of augmented reality applications in educational systems has been growing recently to create a unique learning environment. Also encouraging the use of a personalized interactive teaching style. However, research reviewing the benefits, efficiencies, and limitations of the latter technology is lacking.</p>
                  <p>The aim of the work is a software architecture for repetitive augmented reality application components. The latter focuses on dynamic scalability and performance, while ensuring a high level of configuration. The proposed declarative programming style, with separate components, allows exploratory and iterative development and simplifies the use of automated tools to create configurations applicable in the field.</p>
                <br>
                </div>
              </div>

              <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-indigo w3-padding-16"><i class="fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Projektavimo planas:</h2>
                <div class="w3-container">
                    <br>
                </div>
              </div>

              <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-indigo w3-padding-16"><i class="fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Literatūra:</h2>
                <div class="w3-container">
                    <br>
                </div>
            </div>


            <!-- End Right Column -->
            </div>
            
          <!-- End Grid -->
          </div>
          
          <!-- End Page Container -->
        </div>
        
        <footer class="w3-container w3-indigo w3-center w3-margin-top" style="background: rgb(85, 85, 85) ">
          <p>Tiriamojo projekto informacinė sistema / Papildytos realybės taikymų edukacijoje tyrimas</p>
          
        </footer>
      
  </body>
</html>
