<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
        </style>
        <body class="w3-light-grey">
        
        <!-- Page Container -->
        <div class="w3-content w3-margin-top" style="max-width:1400px;">
        
          <!-- The Grid -->
          <div class="w3-row-padding">
          
            <!-- Left Column -->
            <!-- <div class="w3-third">
            
        
            <!-- Right Column -->
            <div class="w3-twothird" style="width:100%">
            
              <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-indigo w3-padding-16"><i class="fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Projekto akademinis grafikas:</h2>
                <div class="w3-container">
                  <h5 class="w3-text-indigo"><b>11. Magistrinio projekto programų sistemos testavimo planavimas</b></h5>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2021-10-01</h6>
                  <!--<p>Parengti ir patalpinti profesionalo gyvenimo aprašymą, tenkinantį reikalavimus ir šabloną</p>--><hr>
                  </div>
                <div class="w3-container">
                  <h5 class="w3-text-indigo"><b>12. Inžinerinis projektas - PS prototipas</b></h5>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2021-11-03</h6>
                  <!--<p>Magistrinio projekto tematikos pasirinkimas ir detali temos formuluotė </p>--><hr>
                </div>
                <div class="w3-container">
                  <h5 class="w3-text-indigo"><b>13. Testavimo realizavimas</b></h5>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2021-11-15</h6>
                  <!--<p>Parengti magistrinio projekto informacinę sistemą darbo eigos duomenims talpinti ir saugoti</p>--><hr>
                </div>
                <div class="w3-container">
                  <h5 class="w3-text-indigo"><b>14. Projekto kokybės tyrimas</b></h5>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2021-12-05</h6>
                  <!--<p>Mokslinių darbų ir pasiekimų taikomojoje srityje bei technologijose analizė</p>--><hr>
                </div>
                <div class="w3-container">
                  <h5 class="w3-text-indigo"><b>15. Inžinerinis projektas - PS įdiegimas</b></h5>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2021-12-23</h6>
                  <!--<p>Mokslinių darbų ir pasiekimų taikomojoje srityje bei technologijose analizė</p>--><hr>
                </div>
                <div class="w3-container">
                  <h5 class="w3-text-indigo"><b>16. Projekto ataskaita</b></h5>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2022-01-15</h6>
                  <!--<p>Mokslinių darbų ir pasiekimų taikomojoje srityje bei technologijose analizė</p>--><hr>
                </div>
                <div class="w3-container">
                  <h5 class="w3-text-indigo"><b>17. PS gynimas</b></h5>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; PATALPINTAS FAILAS</h6>
                  <h6 class="w3-text-grey">&nbsp;&nbsp;&nbsp;&nbsp; 2022-01-23</h6>
                  <!--<p>Mokslinių darbų ir pasiekimų taikomojoje srityje bei technologijose analizė</p>-->
                <br>
                </div>
              </div>

              <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-indigo w3-padding-16"><i class="fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Projektavimo planas:</h2>
                <div class="w3-container">
                    <br>
                </div>
              </div>

              <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-indigo w3-padding-16"><i class="fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Literatūra:</h2>
                <div class="w3-container">
                    <br>
                </div>
            </div>

              
        
            <!-- End Right Column -->
            </div>
            
          <!-- End Grid -->
          </div>
          
          <!-- End Page Container -->
        </div>
        
        <footer class="w3-container w3-indigo w3-center w3-margin-top" style="background: rgb(85, 85, 85) ">
          <p>Tiriamojo projekto informacinė sistema / Viskas, kas susiję su AR technologijomis</p>
          
        </footer>
      
  </body>
</html>
